   <a href="{{@website.url}}"><img src="{{@website.mediaFilesUrl}}/moh.icon.gif"  height="" width="100%" alt="" class="header-image"></a>

<header class="header">

   {{#if menus.mainMenu}}
      {{> menu menus.mainMenu}}
   {{/if}}
   
</header>